name: release
on:
  push:
    tags:
      - "v*"
permissions:
  contents: write

jobs:
  release:
    name: Release GH Extension
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cli/gh-extension-precompile@v2
        with:
            go_version_file: go.mod